mouse_states
assets/fonts/Geist_Mono

vsky.scripts/cust_icons/!cons_my.ai

vsky_script_package.7z
vsky_script_package.rar
vsky_script_package.zip

assets/template/assets

# Игнорируем всё содержимое папки (но не саму папку)
assets/history/old_web/paper_correct/_c4d_files/*


!assets/history/old_web/paper_correct/_c4d_files/style.css